<h1>Cadastro de Amostra</h1>

<ul class="list">
    <% @sample.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  </ul>

<%= render partial: 'form' %>

<%= link_to 'Voltar', samples_path %>
