<div class="col-sm">
	<h1>Detalhes da Amostra</h1>
	
	<div class='col-sm'>
		<b>Tipo da Amostra: </b> <%= @sample.sample_type %> <br/>
		<b>Data da Coleta:</b> <%= @sample.collect_date.strftime("%d/%m/%Y") %><br/>
	<div/>
	<%= link_to 'Voltar', samples_path %>
	<%= link_to 'Editar', edit_sample_path %>
</div>

