<div class="container-fluid">
	<h1>Detalhes da Amostra</h1>
	<br/>
	<p>
		<b>Tipo da Amostra: </b> <%= @sample.sample_type %> <br/>
			<br/><br/>
		<b>Data da Coleta:</b> <%= @sample.collect_date.strftime("%d/%m/%Y") %><br/>
	</p>
	<br/>
	<%= link_to 'Voltar', samples_path %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<%= link_to 'Editar', edit_sample_path %>
</div>

