<h1>Detalhes da Amostra</h1>

  <table class="table">
    <thead class="text-primary">
      <th>Tipo da Amostra</th>
    </thead>

    <tbody>
      <tr>
        <td><%= @sample.sample_type %></td>
      </tr>
    </tbody>

    <thead class="text-primary">
      <th>Data da Coleta</th>
    </thead>

    <tbody>
      <tr>
        <td><%= @sample.collect_date.strftime("%d/%m/%Y") %></td>
      </tr>
    </tbody>

      <tr>
        <td><%= link_to 'Voltar', samples_path %> </td>
        <td><%= link_to 'Editar', edit_sample_path %></td>
      </tr>
  </table>
