.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 45px;
    background-color: black;
}

.invalid-feedback {
  color: red;
  margin-top: 5px;
}
