<nav class="navbar-static-top navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Laboratório</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to('Pacientes', root_path) %></li>
				<li><%= link_to('Exames', exams_path) %></li>
				<li><%= link_to("Amostras", samples_path) %></li>
			</ul>
		</div>
	</nav>
