<h1>Cadastro de Exames</h1>

<ul class="list">
    <% @exam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
  </ul>

<%= render partial: 'form' %>

<%= link_to 'Voltar', exams_path %>
